.sent{
    background-color: #e2d393;
    /*width: min-content;
    height: min-content;*/
    /*float: right;*/
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 16px;
}

.receive{
    background-color: #cacaca;
    /*width: min-content;
    height: min-content;*/
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 16px;
}